*{
  font-family: 'poppins', sans-serif;
}
.banner{
  background-image: url(./portfolio/image/office-top-view-header-260nw-1130869391.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 230px 0;
}
.skills-padding{
  padding: 70px 0;
}