*{
  font-family: 'poppins', sans-serif;
}
.banner{
  background-image: url(/portfolio/image/design-black-background-1920-x-1080-o3yd8dvwst5nrom1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 230px 0;
}
.skills-padding{
  padding: 70px 0;
}